body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(63, 52, 58);
    font-size: 16 px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgb(201, 198, 199);
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#Kopf{
    background: rgb(29, 103, 189);
    color: white;
    margin: 0px;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 5px 30px 0px grey;
}

#Kopf #tagline {
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1em;
}