body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 16 px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgb(201, 198, 199);
    margin: 0 auto;
}

#container h1{
    font-size: 25px;
}

#Kopf{
    background: rgb(29, 103, 189);
    color: white;
    margin: 0px;
    padding: 0.5em;
    font-weight: bold;
    box-shadow: 0px 5px 30px 0px grey;
    font-size: 30px;
    display: flex;
}

#Kopf img{
    max-width: 30px;
    padding-right: 10px;
}

#Kopf #tagline {
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1em;
}